html
{
    height: 100%;
}

body
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: rgb(37, 127, 211);
}


/* before clicking a category */

h2
{
    position: absolute;
    top: 200px;
    left: 60%;
    transform: translateX(-50%);
    color: whitesmoke;
    font-size: 70px;
    font-family: 'Red Rose', cursive;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}

h1
{
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    font-size: 80px;
    font-family: 'Red Rose', cursive;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}

.menu
{
    position: relative;
	background-color: transparent;
	top: 60%;
	left: 50%;
	width: 80%;
	height: 60px;
	transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}

.menu ul
{
    position: relative;
    width: 90%;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
}

.menu li
{
	list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;
    color: rgb(189, 189, 189);
    padding: 10px 20px 5px 20px;
    border: 2px solid transparent;
    border-bottom-color: rgb(189, 189, 189);
    border-radius: 3.5px;
    transition: 0.1s ease-out;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 4px;
    cursor: pointer;
    
}

.menu li:hover
{
    color: white;
    border-bottom-color: white;
    transition: 0.1s ease-out;
}


/* after clicking a category */
/* h2
{
    position: absolute;
    top: 100px;
    left: 743px;
    transform: none;
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Red Rose', cursive;
}

h1
{
    position: absolute;
    top: 130px;
    left: 400px;
    transform: none;
    color: whitesmoke;
    font-size: 60px;
    font-family: 'Red Rose', cursive;
}

.menu
{
	position: relative;
	background-color: transparent;
	top: 260px;
	left: 50%;
	width: 80%;
	height: 60px;
	transform: translateX(-50%);
    padding: 0;
    margin: 0;
} */

.container
{
    position: relative;
    top: 500px;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
    height: 0px;
    background-color: white;
    opacity: 0;
    z-index: -1;
}

/* preloader start */
body {
    background-color: #3298DA;
    overflow: hidden;
  }
  
  body,
  html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  svg {
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
/* preloader end */


/* preloader */

#preloader-wrapper
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
	background-image: linear-gradient(135deg, rgb(59, 137, 238), rgb(55, 199, 224), rgb(36, 128, 233));
	z-index: 10;
}

#preloader
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* background-image: url(../images/previewfile_1430030161.jpg); */
  background-size: cover;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#loader-1
{  
  top: 50px;
  left: 50px;
  width: 150px;
  height: 150px;
  border: 10px solid rgba(208, 229, 235, 0.9);
  border-left: 10px solid rgba(26, 130, 199, 0.9);
  /* border-bottom: 25px solid rgba(69, 79, 223, 0.9); */
  animation: spin 2s linear infinite;
}

#loader-2
{  
  top: 60px;
  left: 60px;
  width: 130px;
  height: 130px;
  border: 10px solid rgba(208, 229, 235, 0.8);
  border-left: 10px solid rgba(26, 130, 199, 0.8);
  /* border-bottom: 25px solid rgba(219, 216, 52, 0.8); */
  animation: spin 1.8s linear infinite;
}

#loader-3
{
  top: 70px;
  left: 70px;
  width: 110px;
  height: 110px;
  border: 10px solid rgba(208, 229, 235, 0.7);
  border-left: 10px solid rgba(26, 130, 199, 0.7);
  /* border-bottom: 25px solid rgba(219, 71, 52, 0.7); */
  animation: spin 1.6s linear infinite;
}

#loader-4
{
  top: 80px;
  left: 80px;
  width: 90px;
  height: 90px;
  border: 10px solid rgba(208, 229, 235, 0.6);
  border-left: 10px solid rgba(26, 130, 199, 0.6);
  /* border-bottom: 25px solid rgba(172, 52, 219, 0.6); */
  animation: spin 1.4s linear infinite;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* front page parallax */

/* .photo-container
{
    width: 300px;
    height: 150px;
    overflow: hidden;
    background-color: gray;
    background-attachment: fixed;
} */

